<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>To-Do App</title>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white">
        <div class="w-full h-min flex justify-end">
            <a class="rounded-md bg-red-500 px-3 py-2 text-sm mr-5 inline-block" href="/login">LOG IN</a>
            <a class="rounded-md bg-red-500 px-3 py-2 text-sm mb-1 inline-block" href="/register">REGISTER</a>
        </div>
        <h1 class="px-3 py-4 text-3xl">TO-DO APP</h1>
        <p class="px-3 py-4 text-3xl">Welcome to the To-Do App. If already an user please login else register and Enjoy!!!</p>
    </div>
</body>
</html>